<?xml version="1.0" encoding="utf-8"?>
<Content Key="ca7af052-f261-4f9f-b31d-9085fd12e949" Alias="A page" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/APage</Path>
    <Trashed Parent="a5ffe0ba-223e-481b-a9a2-a1b7fef0b177">true</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2023-06-23T00:16:22</CreateDate>
    <NodeName Default="A page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[]]></Value>
    </body>
    <heading>
      <Value><![CDATA[Nah, we've got a heading]]></Value>
    </heading>
    <listImage>
      <Value><![CDATA[]]></Value>
    </listImage>
    <listSummary>
      <Value><![CDATA[]]></Value>
    </listSummary>
    <listTitle>
      <Value><![CDATA[]]></Value>
    </listTitle>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "a1322f36-72c7-4ed0-aad2-3f5fd095d4d6",
    "mediaKey": "6ee5eb0c-966b-4618-8276-34fbfeba9741",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </mainImage>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <summary>
      <Value><![CDATA[So here's some summary text.]]></Value>
    </summary>
  </Properties>
</Content>