<?xml version="1.0" encoding="utf-8"?>
<Content Key="a5ffe0ba-223e-481b-a9a2-a1b7fef0b177" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2023-06-22T23:50:36</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[]]></Value>
    </body>
    <heading>
      <Value><![CDATA[]]></Value>
    </heading>
    <listImage>
      <Value><![CDATA[]]></Value>
    </listImage>
    <listSummary>
      <Value><![CDATA[]]></Value>
    </listSummary>
    <listTitle>
      <Value><![CDATA[]]></Value>
    </listTitle>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <seoDescription>
      <Value><![CDATA[]]></Value>
    </seoDescription>
    <seoTitle>
      <Value><![CDATA[]]></Value>
    </seoTitle>
    <summary>
      <Value><![CDATA[]]></Value>
    </summary>
  </Properties>
</Content>