<?xml version="1.0" encoding="utf-8"?>
<Content Key="99b4b321-0fa4-4cec-96a9-846124a9b52b" Alias="Om oss" Level="2">
  <Info>
    <Parent Key="7b42acbc-2f8c-46b2-b16f-64951e488241">A page</Parent>
    <Path>/APage/OmOss</Path>
    <Trashed>false</Trashed>
    <ContentType>page</ContentType>
    <CreateDate>2023-06-23T12:22:52</CreateDate>
    <NodeName Default="Om oss" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a963b768-535a-4f7d-beab-50986f2c4fde">Page</Template>
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[<p>Her er litt bodytekst!</p>
<p>Flere linjer og <strong>greier</strong> med <em>html</em>.</p>]]></Value>
    </body>
    <heading>
      <Value><![CDATA[]]></Value>
    </heading>
    <listImage>
      <Value><![CDATA[]]></Value>
    </listImage>
    <listSummary>
      <Value><![CDATA[Vi vil ha en litt annen listetekst]]></Value>
    </listSummary>
    <listTitle>
      <Value><![CDATA[]]></Value>
    </listTitle>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "9ee257be-cab7-48d1-9bb0-4e6a07be7ea7",
    "mediaKey": "8dd770e6-9850-45f3-92fe-60305e7785b2",
    "crops": [],
    "focalPoint": {
      "left": 0.5,
      "top": 0.5
    }
  }
]]]></Value>
    </mainImage>
    <openGraphImage>
      <Value><![CDATA[]]></Value>
    </openGraphImage>
    <seoDescription>
      <Value><![CDATA[Vi vil ha en litt annen listetekst her]]></Value>
    </seoDescription>
    <seoTitle>
      <Value><![CDATA[Mer fancy Om Oss]]></Value>
    </seoTitle>
    <summary>
      <Value><![CDATA[Og så har vi litt ingresstekst her]]></Value>
    </summary>
  </Properties>
</Content>