<?xml version="1.0" encoding="utf-8"?>
<DataType Key="80862230-2849-420e-ad17-f5720c0704ce" Alias="Fallback - Image" Level="1">
  <Info>
    <Name>Fallback - Image</Name>
    <EditorAlias>Umbraco.Community.FallbackProperty</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataType": "umb://data-type/ad9f0cf2bda245d59ea1a63cfc873fd3",
  "fallbackTemplate": [
    {
      "key": "f84fdbd8-6cd9-49da-88d0-b58bdfd3e3c2",
      "mediaKey": "6ee5eb0c-966b-4618-8276-34fbfeba9741",
      "crops": [],
      "focalPoint": {
        "left": 0.5,
        "top": 0.5
      }
    }
  ]
}]]></Config>
</DataType>