<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3dfb4855-6d7e-41e9-84de-c8cca2a0acd0" Alias="Fallback - Date" Level="1">
  <Info>
    <Name>Fallback - Date</Name>
    <EditorAlias>Umbraco.Community.FallbackProperty</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataType": "umb://data-type/5046194e4237453ca54715db3a07c4e1",
  "fallbackTemplate": "2023-06-22"
}]]></Config>
</DataType>