<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1964d167-fddb-41c8-a590-36bc6b035b2e" Alias="[_] Page - Main image" Level="1">
  <Info>
    <Name>[_] Page - Main image</Name>
    <EditorAlias>Umbraco.Community.FallbackProperty</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataType": "umb://data-type/ad9f0cf2bda245d59ea1a63cfc873fd3",
  "fallbackChain": [],
  "fallbackTemplate": [
    {
      "key": "3d1e9f79-1cae-4fea-8ca4-8ad5b5155ed9",
      "mediaKey": "2975df1b-bdbc-4a43-9fdc-048fcf1a8cfb",
      "crops": [],
      "focalPoint": {
        "left": 0.5,
        "top": 0.5
      }
    }
  ]
}]]></Config>
</DataType>