<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c134a9d7-d400-4361-838a-94691d11721b" Alias="[_] Page - SEO Title" Level="1">
  <Info>
    <Name>[_] Page - SEO Title</Name>
    <EditorAlias>Umbraco.Community.FallbackProperty</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataType": "umb://data-type/0cc0eba1996042c9bf9b60e150b429ae",
  "fallbackChain": [
    {
      "icon": "icon-stop",
      "name": "",
      "value": "page.listTitle",
      "description": ""
    },
    {
      "icon": "icon-stop",
      "name": "",
      "value": "page.heading",
      "description": ""
    },
    {
      "icon": "icon-stop",
      "name": "",
      "value": "content.name",
      "description": ""
    }
  ],
  "fallbackTemplate": "Our company, Inc."
}]]></Config>
</DataType>