<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2b6edd7b-f75f-4d25-b450-af8a8594fd91" Alias="Page - SEO Description" Level="1">
  <Info>
    <Name>Page - SEO Description</Name>
    <EditorAlias>Umbraco.Community.FallbackProperty</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataType": "umb://data-type/c6bac0dd4ab945b18e30e4b619ee5da3",
  "fallbackChain": [
    {
      "icon": "icon-stop",
      "name": "",
      "value": "page.listSummary",
      "description": ""
    },
    {
      "icon": "icon-stop",
      "name": "",
      "value": "page.summary",
      "description": ""
    }
  ],
  "fallbackTemplate": "Our company does this and that, and we're really good at it."
}]]></Config>
</DataType>