<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0a9331a1-48bb-4498-875d-8bc4696575c6" Alias="[_] Page - Open Graph Image" Level="1">
  <Info>
    <Name>[_] Page - Open Graph Image</Name>
    <EditorAlias>Umbraco.Community.FallbackProperty</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataType": "umb://data-type/ad9f0cf2bda245d59ea1a63cfc873fd3",
  "fallbackChain": [
    {
      "icon": "icon-stop",
      "name": "",
      "value": "page.listImage",
      "description": ""
    },
    {
      "icon": "icon-stop",
      "name": "",
      "value": "page.mainImage",
      "description": ""
    }
  ],
  "fallbackTemplate": [
    {
      "key": "4d7a0985-86ab-471b-8d43-319441a59656",
      "mediaKey": "0113fad9-490d-46d2-ac6b-eae491cef717",
      "crops": [],
      "focalPoint": {
        "left": 0.5,
        "top": 0.5
      }
    }
  ]
}]]></Config>
</DataType>