<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5bfea365-a232-472e-833c-10b112dc5712" Alias="[_] Page - List summary" Level="1">
  <Info>
    <Name>[_] Page - List summary</Name>
    <EditorAlias>Umbraco.Community.FallbackProperty</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataType": "umb://data-type/c6bac0dd4ab945b18e30e4b619ee5da3",
  "fallbackChain": [
    {
      "icon": "icon-stop",
      "name": "",
      "value": "page.summary",
      "description": ""
    }
  ]
}]]></Config>
</DataType>