<?xml version="1.0" encoding="utf-8"?>
<DataType Key="826cf564-1b23-4936-89dd-dc42fa0de737" Alias="[_] Page - Publication Date" Level="1">
  <Info>
    <Name>[_] Page - Publication Date</Name>
    <EditorAlias>Umbraco.Community.FallbackProperty</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataType": "umb://data-type/5046194e4237453ca54715db3a07c4e1",
  "fallbackChain": [
    {
      "icon": "icon-stop",
      "name": "",
      "value": "content.createDate",
      "description": ""
    }
  ]
}]]></Config>
</DataType>