<?xml version="1.0" encoding="utf-8"?>
<DataType Key="75ae7cc9-514a-4c5b-a837-f66b4147a055" Alias="Page - List Title" Level="1">
  <Info>
    <Name>Page - List Title</Name>
    <EditorAlias>Umbraco.Community.FallbackProperty</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataType": "umb://data-type/0cc0eba1996042c9bf9b60e150b429ae",
  "fallbackChain": [
    {
      "icon": "icon-stop",
      "name": "",
      "value": "page.heading",
      "description": ""
    },
    {
      "icon": "icon-stop",
      "name": "",
      "value": "content.name",
      "description": ""
    }
  ],
  "fallbackTemplate": "Untitled content"
}]]></Config>
</DataType>