<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0a9331a1-48bb-4498-875d-8bc4696575c6" Alias="[_] Page - Open Graph Image" Level="1">
  <Info>
    <Name>[_] Page - Open Graph Image</Name>
    <EditorAlias>Umbraco.Community.FallbackProperty</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataType": "umb://data-type/ad9f0cf2bda245d59ea1a63cfc873fd3",
  "fallbackChain": [
    {
      "icon": "icon-stop",
      "name": "",
      "value": "page.listImage",
      "description": ""
    },
    {
      "icon": "icon-stop",
      "name": "",
      "value": "page.mainImage",
      "description": ""
    }
  ],
  "fallbackTemplate": [
    {
      "key": "80957cd1-996c-4571-8bc1-16f781edef1c",
      "mediaKey": "2975df1b-bdbc-4a43-9fdc-048fcf1a8cfb",
      "crops": [],
      "focalPoint": {
        "left": 0.5,
        "top": 0.5
      }
    }
  ]
}]]></Config>
</DataType>