<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4862895e-15a1-47bf-af5f-2f684eb46d26" Alias="[_] Page - Heading" Level="1">
  <Info>
    <Name>[_] Page - Heading</Name>
    <EditorAlias>Umbraco.Community.FallbackProperty</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataType": "umb://data-type/0cc0eba1996042c9bf9b60e150b429ae",
  "fallbackChain": [
    {
      "icon": "icon-stop",
      "name": "",
      "value": "content.name",
      "description": ""
    }
  ],
  "fallbackTemplate": "Untitled"
}]]></Config>
</DataType>